.intro-image {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e59a3c;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.text-overlay h2 {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: #e59a3c;
}